# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\assignment_esoft\assignment_20_may\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
